body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    
    padding: 20px 10px;
    background-color: rgb(228, 50, 130);
    text-align: center;
    border-radius: 10%;
    box-shadow: 10px 10px 10px;
}


.second{
    font-size: 20px;
}
