*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 50px;
    color: while;
    font-weight: bolder;
    background-color: rgb(70, 70, 230);
    align-items: center;
}
.card{
    display: flex;
   flex-direction: column;
   align-items: center;
   border: 2px solid black;
   margin: 2rem;
   padding: 2rem;
}
.card1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;

}